<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" 
               name="payment[method]" 
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"> <!-- Logo -->
            <img height="39" width="163"
            data-bind="attr: {src: paymentExpressLogo}" class="payment-icon" />
            <!-- Logo --> <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>

        <form id="paymentexpress_pxfusion_form">
            <div data-bind="if: isRebillEnabled">
                <div data-bind="if: containsSavedCards">
                    <input type="radio" class="radio" name="payment[paymentexpress_pxfusion_use_saved_card]" id="paymentexpress_pxfusion_use_saved_card" value="withRebillToken"
                        data-bind="checked: paymentOption" />
                    <label class="radio" for="paymentexpress_pxfusion_use_saved_card">Use one of the following saved payment details: </label>

                    <div style="padding-left: 2em;">
                        <div class="input-box">
                            <select name="payment[paymentexpress_pxfusion_rebilling_token]" id="paymentexpress_pxfusion_rebilling_token" title="Saved Cards" data-bind="enable: rebillingTokenEnabled, value:billingId">
                                <option value="">--Please Select--</option>
                                <!-- ko foreach: savedCards -->
                                <option data-bind="value: billing_token, text:card_info"></option>
                                <!--/ko-->
                            </select>
                        </div>
                    </div>
                    
                    <div><input type="radio" class="radio" id="paymentexpress_pxfusion_without_rebill_token"  value="withoutRebillToken" data-bind="checked: paymentOption" />
                        <label class="radio" for="paymentexpress_pxfusion_without_rebill_token">Proceed without using any saved payment detail. </label></div>
                    <div class="dpsCheckboxIndent">
                        <input class="checkbox" type="checkbox" id="paymentexpress_pxfusion_save_card_info" name="payment[paymentexpress_pxfusion_save_card_info]"
                            data-bind="enable: addBillCardEnabled, checked: enableAddBillCard" />
                        <label for="paymentexpress_pxfusion_save_card_info">Save your payment details for next time </label>
                    </div>
                </div>

                <div data-bind="ifnot: containsSavedCards">
                    <div> Proceed without using any saved payment detail. </div>
                    <input class="checkbox" type="checkbox" id="paymentexpress_pxfusion_save_card_info" name="payment[paymentexpress_pxfusion_save_card_info]"
                        data-bind="enable: addBillCardEnabled, checked: enableAddBillCard" />
                    <label for="paymentexpress_pxfusion_save_card_info">Save your payment details for next time</label>
                </div>
            </div>
            
            <div class="dpsPaymentForm" data-bind="if: !isRebillEnabled || cardEnteringEnabled">
                <input type="hidden" name="payment[cc_type]" class="input-text" value="" 
                    data-bind="attr:{
                        id: getCode() + '_cc_type', 
                        'data-container': getCode() + '-cc-type'
                    }, 
                    value: creditCardType">
                   
                <div class="field number required">
                    <div class="control">
                        <input type="number" class="input-text" name="payment[paymentexpress_pxfusion_card_number]" placeholder="Card Number"
                            data-bind="attr:{
                                            autocomplete: off,
                                            title: $t('Credit Card Number'),
                                            id: getCode() + '_card_number',
                                            'data-validate': JSON.stringify({'required-number':true, 'validate-cc-number':'#' + getCode() + '_cc_type'})
                                       },
                                       value:cardNumber,
                                       valueUpdate: 'keyup'"/>
                    </div>
                </div>

                <div class="field required">
                    <input type="text" class="input-text" placeholder="Card Holder Name" name="payment[paymentexpress_pxfusion_card_holder_name]"
                        data-bind="value:cardHolderName, attr:{id:getCode() + 'card_holder_name', 'data-validate': JSON.stringify({'required-entry':true}) }"></input>
                </div>
                
                 <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                   <div class="control">
                        <div class="fields">
                            <div class="field no-label month dpsPaymentFormSelect">
                                <div class="control">
                                    <select class="select select-month" name="payment[paymentexpress_pxfusion_expiry_month]" id="paymentexpress_pxfusion_expiry_month"
                                        data-bind="value:expiryMonth, options: expiryMonths, attr:{'data-validate': JSON.stringify({'required-number':true, 'validate-cc-exp':'#paymentexpress_pxfusion_expiry_year'}) }">

                                    </select>
                                </div>
                            </div>
                            
                            <div class="field no-label year">
                                <div class="control">
                                    <select class="select select-year dpsPaymentFormSelect" name="payment[paymentexpress_pxfusion_expiry_year]" id="paymentexpress_pxfusion_expiry_year"
                                        data-bind="value:expiryYear, options: expiryYears, attr:{ 'data-validate': JSON.stringify({required:true}) }">
                                        <!-- ko foreach: expiryYears -->
                                        <option data-bind="value: $data, text:$data"></option>
                                        <!--/ko-->
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>  
                </div>
                
                <div class="clear"></div>
                
                <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <div class="control _with-tooltip">
                        <input type="number" autocomplete="off" class="input-text cvv" placeholder="CVC" name="payment[paymentexpress_pxfusion_cvc]" title="Card Security Code"
                            data-bind="value:cvc, 
                                        attr: {id: getCode() + '_cvc' ,
                                            'data-validate': JSON.stringify({'required-number':true, 'validate-cc-cvn':'#' + getCode() + '_cc_type'})  }"/>
                    </div>
                    
                    <div class="field-tooltip toggle">
                        <span class="field-tooltip-action action-cvv" tabindex="0" data-toggle="dropdown"
                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                            <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                        </span>
                        <div class="field-tooltip-content" data-target="dropdown" data-bind="html: getCvvImageHtml()"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clear"></div>
        
        <!-- PaymentInformationManagement::savePaymentInformationAndPlaceOrder -->
        <!-- QuoteManagement::placeOrder -->
        <!-- OrderService::place -->
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit"
                    data-bind="click: continueToPxFusion, enable: (getCode() == isChecked())"
                    disabled>
                    <span data-bind="i18n: 'Continue to PxFusion'"></span>
                </button>
            </div>
        </div>
            
    </div>
    

</div>